.homepage,
.mainPageElement {
    padding: 40px 16px;

    .column .box{
        height: 100%;
    }
}

.recentIdeasContainer h3.title {
    margin-top: 24px;
    margin-bottom: 0;
    ul.recentIdeas {}
}